__pycache__
.vscode
.cache

/build
/bin

/workload*
!/workload_spec/

/benchmark_json/*
!/benchmark_json/bench.json.bak
/output*

/tmp*
/old*
/data*
/results*
/workload_spec/
/script/workload/data/*
emails.txt
*.log

email_filtered.txt
